* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  margin-bottom: 0;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
  padding-top: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: rgb(131, 131, 131);
  font-weight: 400;
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.my-btn-default {
  color: rgb(25, 28, 31);
  background-color: rgba(230, 230, 230, 0.6);
  border-color: rgba(230, 230, 230, 0.6);
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 25px;
  margin-top: 5px;
  margin-left: 15px;
}

.my-btn-default:hover {
  color:rgba(230, 230, 230, 1) ;
  background-color:rgb(25, 28, 31) ;
  border-color: rgb(25, 28, 31);
}

.my-btn-default-negative {
  color:rgba(230, 230, 230, 1) ;
  background-color:rgb(25, 28, 31) ;
  border-color: rgb(25, 28, 31);
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 25px;
  margin-top: 5px;
  margin-left: 15px;
}

.my-btn-default-negative:hover {
  border-color: rgba(230, 230, 230, 0.6);
}

.multi-menu-features .multi-menu .title-multi-menu {
  color: rgb(206, 213, 219);
  text-transform: uppercase;
  font-size: 13px;
}

.title-multi-menu i {
  padding: 0 10px;
}

.multi-menu {
  display: inline-block;
  float: left;
}

.left {
  left: 20%;
}

.drop-menu{
  display: none;
  position: absolute;
  top: 80px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 4%) 0px 0px 4px 0px,
  rgb(0 0 0 / 8%) 0px 8px 16px 0px;
  padding: 5px;
  border-radius: 10px;
}

.drop-menu.active li {
  padding: 15px;
}


.multi-menu li {
  list-style: none;
  padding: 15px;
  color: rgb(131, 131, 131);
}

/* DROPDOWN MENU */

.dropdown-menu {
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 4%) 0px 0px 4px 0px,
    rgb(0 0 0 / 8%) 0px 8px 16px 0px;
    padding: 5px;
    border-radius: 10px;
    border-color: #fff;

}

.navbar-nav > li >.dropdown-multi-menu {
  left: 50%;
  transform: translateX(-50%);
  width: 580px;
}

.dropdown-menu > li > a {
  padding: 15px;
  color: rgb(131, 131, 131);
}


/*Utili per il main.js*/

.dropdown-menu.active {
  display: block;
}

.dropdown-menu{
  display: none;
}

@media (min-width: 768px) {

.navbar-right .dropdown-menu {
    right: 0;
    left: 0;
}

}
