* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.content-nav-sx, .content-nav-dx {
  display: flex;
  align-items: center;
}

.list-nav-sx ul, .list-nav-dx ul {
  display: flex;
}

.list-nav-sx ul li, .list-nav-dx ul li{
  padding: 0 5px;
}


.content-nav-sx img {
  width: 20px;

}

/*Utili per il main.js*/

.dropdown-menu.active {
  display: block
}

.dropdown-menu{
  display: none
}
