* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.content-nav-sx, .content-nav-dx {
  display: flex;
  align-items: center;
}

.list-nav-sx {
  padding-left: 20px;
}

.list-menu {
  display: flex;
}

.list-nav-sx ul li, .list-nav-dx ul li{
  padding: 0 15px;
  font-weight: 400;
  color: rgb(131, 131, 131);
}

.list-nav-sx ul li:hover, .list-nav-dx ul li:hover{
  color: #191c1f;
}


.content-nav-sx img {
  width: 20px;
}

.drop-menu  {

}

/*DROP MENU*/
.drop-menu{
  display: none;
  position: absolute;
  top: 50px;
  background-color: #fff;
  box-shadow: 5px 10px 8px #888888;
  padding: 5px;
  border-radius: 10px;
}

.drop-menu li {
  padding: 5px;
}

/*Utili per il main.js*/

.drop-menu.active {
  display: block
}

.drop-menu{
  display: none
}
