* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.content-nav-sx, .content-nav-dx {
  display: flex;
  align-items: center;
}

.list-nav-sx {
  padding-left: 20px;
}

.list-menu {
  display: flex;
  align-items: center;
}

.content-nav-sx img {
  width: 20px;
}

.list-nav-sx ul li, .list-nav-dx ul li{
  padding: 0 15px;
  font-weight: 400;
  color: rgb(131, 131, 131);
}

.list-nav-sx ul li:hover, .list-nav-dx ul li:hover{
  color: #191c1f;
  cursor: pointer;
}



/* BUTTON */

.my-btn-default {
  color: rgb(25, 28, 31);
  background-color: rgba(230, 230, 230, 0.6);
  border-color: rgba(230, 230, 230, 0.6);
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 25px;
  margin-left: 15px;
  border: 0;
}

.my-btn-default:hover {
  color: rgba(230, 230, 230, 1);
  background-color: rgb(25, 28, 31);
  border-color: rgb(25, 28, 31);
  cursor: pointer;
}

.my-btn-default-negative {
  color: rgba(230, 230, 230, 1);
  background-color: rgb(25, 28, 31);
  border-color: rgb(25, 28, 31);
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 25px;
  margin-left: 15px;
  border: 0;
}

.my-btn-default-negative:hover {
  color: rgb(25, 28, 31);
  background-color: rgba(230, 230, 230, 0.6);
  border-color: rgba(230, 230, 230, 0.6);
  border: 0;
  cursor: pointer;
}

.multi-menu-features .multi-menu .title-multi-menu {
  color: rgb(206, 213, 219);
  text-transform: uppercase;
  font-size: 13px;
}

.title-multi-menu i {
  padding: 0 10px;
}

.multi-menu {
  display: inline-block;
}

.multi-menu-features {
  display: flex;
}

/*DROP MENU*/

.left {
  left: 20%;
}

.drop-menu{
  display: none;
  position: absolute;
  top: 80px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 4%) 0px 0px 4px 0px,
  rgb(0 0 0 / 8%) 0px 8px 16px 0px;
  padding: 5px;
  border-radius: 10px;
}

.drop-menu.active li {
  padding: 15px 25px;
}

/*Utili per il main.js*/

.drop-menu.active {
  display: block;
}

.drop-menu{
  /* METTERE NONE */
  display: none;
}
